<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>hola mundo</h1>
    <h2>color roja</h2>
    <h3>color verde</h3>
    <h4>color amarillo</h4>
    <div class="card">
      <img src="images/image_test.jpg" alt="" />
      <h2 class="card__title">Lorem ipsum</h2>
      <p class="card__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minus
        consectetur id ipsa fuga iure exercitationem vero odio harum impedit
        eius quibusdam amet molestiae numquam dolores eos velit, consequatur
        voluptates.
      </p>
      <p class="card__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minus
        consectetur id ipsa fuga iure exercitationem vero odio harum impedit
        eius quibusdam amet molestiae numquam dolores eos velit, consequatur
        voluptates.
      </p>
    
    </div>
  </body>
</html>
